Package: com.hsf.weworklocationhook
Name: weworklocationhook
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Xiaoandi Fu
Author: Xiaoandi Fu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
